/** APP BAR */
.app-bar-title {
  color: #fff !important;
}

/** COLOR */
.color-primary {
  color: #3f51b5 !important;
}

/** SIDEBAR MENU */
.menu-item {
  text-decoration: none;
}

/** POST LIST */
.sort-select-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

/** BUTTON */
button .icon-button {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
button .spinner-icon {
  color: #fff;
}

.link-button {
  text-decoration: none
}

.button-actions {
  margin-top: 20px;
}

.button-actions button {
  margin-right: 10px;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: row;
}

/* LIST */
.list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 16px;
  margin-bottom: 10px;
}

.list-item-content {
  flex-grow: 1
}

.list-item-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.list-item-actions button {
  margin-bottom: 7px;
  width: 100px;
}

/* META */
.meta-container {
  color: #666;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.meta-container .meta-item {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.meta-container .meta-icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

/* MISC */
.no-decor {
  text-decoration: none;
}
