.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 16px;
  margin-bottom: 10px;
}

.comment-meta {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px
}

.comment-meta > .author {
  font-weight: 700;
}

.comment-meta > .comment-date {
  font-size: 14px;
  color: #6D6B6B;
}

.comment-content {
  flex-grow: 1;
}

.comment-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}

.comment-actions button {
  margin-bottom: 7px;
  width: 100px;
}